.main__container {
  height: 85vh;
  background-color: #787b6c;
  background-image: url(assets/images/background-image.png);
  background-size: cover;
  position: relative;

  .name__section {
    position: absolute;
    font-size: 16px;
    // background-color: #ffffff89;
    display: inline-block;
    bottom: 10px;
    left: 0px;
    padding: 20px 25px;
    border-radius: 10px;
  }

  // .carlo, .santos {
  //   font-size: 36px;
  //   font
  //   color: red;
  // }
}
