@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');

.navigation {

  &__container {
    max-height: 70px;
    background-color: #292929;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;

    li {
      display: inline-block;
      margin: 0 10px;
      list-style-type: none;
    }

    a,
    a:visited {
      text-decoration: none;
      color: #768273;
      font-family: quicksand;
    }
  }

  &__logo {
    width: 8rem;
  }

  &__logo-section {
    color: white;
  }

  &__dropdown-button-section {
    .navigation__checkbox, .navigation__button {
      display: none;
    }

    .navigation__nav {
      @include respond-phone {
        display: none;
      }
    }

    .navigation__button {
      @include respond-phone {
        border-radius: 5px;
        background-color: #292929;
        height: 40px;
        width: 40px;
        display: inline-block;
        box-shadow: 0px -1px 5px #ff0003;
        position: absolute;
        top: 9px;
        right: 25px;
        display: flex;
        justify-content: center;
      }

      .navigation__icon {
        width: 30px;
        height: 1px;
        background-color: #651c1d;
        display: inline-block;
        @include absoluteCenter;
        margin: auto;
      }

      .navigation__icon::before {
        content: '';
        width: 30px;
        height: 1px;
        background-color: #eaf0ce;
        display: inline-block;
        position: absolute;
        top: -10px;
      }

      .navigation__icon::after {
        content: '';
        width: 30px;
        height: 1px;
        background-color: #788475;
        display: inline-block;
        position: absolute;
        top: 10px;
      }

      // #navi-toggle:checked ~ .navigation__nav {
      //   @include respond-phone {
      //     background-color: yellow;
      //     display: block;
      //   }
      // }
    }

    // #navi-toggle:checked ~ .navigation__nav {
    //   @include respond-phone {
    //     background-color: yellow;
    //     // width: 100%;
    //     height: 600px;
    //     top: 100px;
    //   }
    // }
  }
}

 .mobile-menu {
      min-height: calc(100vh - 70px);
      transform: translateY(-100vh);
      position: absolute;
      background: linear-gradient(#0c0b0b,#0c0b0b, #3a0e0e);
      transition: all 1s ease-in;
      z-index: 1;
      opacity: 0;
      width: 100%;

      font-size: 100px;
      // text-align: center;

      a,
      a:visited {
      text-decoration: none;
      color: #eaf0ce;;
      font-family: quicksand;
    }

    ul li {
      list-style-type: none;
    }


  }

  .slide-down {
    transform: translateY(0);
    z-index: 1;
    opacity: .8;
    top: 70px;
  }

