// Absolute Center
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager
/*
0 - 600px:    Phone
600 - 900px:  Tabelet Portrait
900 - 1200px: Tablet landscape
[1200 -1800]  is where our normal styles apply
1800px + :    Big desktop
*/

@mixin respond-phone {
  @media(max-width: 600px) { @content };
}
