/*
0 - 600px:    Phone
600 - 900px:  Tabelet Portrait
900 - 1200px: Tablet landscape
[1200 -1800]  is where our normal styles apply
1800px + :    Big desktop
*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap");
body {
  min-height: 100vh;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
  font-family: quicksand;
}

.footer {
  height: 10vh;
  background-color: #292929;
  z-index: 1;
  position: relative;
}

.navigation__container {
  max-height: 70px;
  background-color: #292929;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
.navigation__container li {
  display: inline-block;
  margin: 0 10px;
  list-style-type: none;
}
.navigation__container a,
.navigation__container a:visited {
  text-decoration: none;
  color: #768273;
  font-family: quicksand;
}
.navigation__logo {
  width: 8rem;
}
.navigation__logo-section {
  color: white;
}
.navigation__dropdown-button-section .navigation__checkbox, .navigation__dropdown-button-section .navigation__button {
  display: none;
}
@media (max-width: 600px) {
  .navigation__dropdown-button-section .navigation__nav {
    display: none;
  }
}
@media (max-width: 600px) {
  .navigation__dropdown-button-section .navigation__button {
    border-radius: 5px;
    background-color: #292929;
    height: 40px;
    width: 40px;
    display: inline-block;
    box-shadow: 0px -1px 5px #ff0003;
    position: absolute;
    top: 9px;
    right: 25px;
    display: flex;
    justify-content: center;
  }
}
.navigation__dropdown-button-section .navigation__button .navigation__icon {
  width: 30px;
  height: 1px;
  background-color: #651c1d;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}
.navigation__dropdown-button-section .navigation__button .navigation__icon::before {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #eaf0ce;
  display: inline-block;
  position: absolute;
  top: -10px;
}
.navigation__dropdown-button-section .navigation__button .navigation__icon::after {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #788475;
  display: inline-block;
  position: absolute;
  top: 10px;
}

.mobile-menu {
  min-height: calc(100vh - 70px);
  transform: translateY(-100vh);
  position: absolute;
  background: linear-gradient(#0c0b0b, #0c0b0b, #3a0e0e);
  transition: all 0.5s ease-in;
  z-index: 1;
  opacity: 0;
  width: 100%;
  font-size: 60px;
}
.mobile-menu a,
.mobile-menu a:visited {
  text-decoration: none;
  color: #eaf0ce;
  font-family: quicksand;
}
.mobile-menu ul li {
  list-style-type: none;
}

.slide-down {
  transform: translateY(0);
  z-index: 1;
  opacity: 0.8;
  top: 60px;
  padding-top: 20px;
}

.main__container {
  height: 85vh;
  background-color: #787b6c;
  background-image: url(../../assets/images/background-image.png);
  background-size: cover;
  position: relative;
  padding-top: 50px;
}
@media (max-width: 600px) {
  .main__container {
    background-image: url(../../assets/images/mobile-background.png);
  }
}
.main__container .name__section {
  position: absolute;
  font-size: 16px;
  display: inline-block;
  bottom: 10px;
  left: 0px;
  padding: 20px 25px;
  border-radius: 10px;
}
.main__container .name-in-main {
  width: 200px;
}

.card__container {
  margin: 1rem 1rem;
  height: 20rem;
  width: 20rem;
  border-radius: 3rem;
  padding: 1.5rem;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.821));
  color: white;
}

/* this current version is meant to be on a white background */
.card__container-dark-box-shadow {
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.939);
}

/* this  version is meant to be on a black background */
.card__container--light-box-shadow {
  box-shadow: 0.8px 0.1px 0.3rem rgba(179, 47, 47, 0.8);
}

.photo {
  height: 6rem;
  width: 6rem;
  border: 0.01px solid rgba(186, 186, 186, 0.336);
  border-radius: 1.5rem;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.344); /* Adjust the color and opacity of the tint */
  pointer-events: none; /* Allow interactions with the image */
}

.name {
  color: rgb(107, 107, 107);
  margin: 0;
}

.title {
  color: white;
}

.u-display-flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-section {
  text-align: right;
}

.bio__title {
  color: white;
  margin-top: 1.8rem;
  font-size: 1.6rem;
}

button {
  float: right;
  position: relative;
  right: 2.9rem;
  bottom: 0.8rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem 0.9rem;
  background-color: transparent;
  color: white;
  box-shadow: 0.8px 0.1px 0.1rem rgba(179, 47, 47, 0.8);
}

.skills-title {
  font-size: 3rem;
  letter-spacing: 1rem;
  margin: 0;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}

.skill-logo {
  width: 2rem;
  display: inline-block;
}

ul {
  display: flexbox;
  flex-direction: row;
}

.grid-for-two-columns {
  display: flex;
  justify-content: space-between;
}

.move-up-relatively {
  position: relative;
  top: -1.7rem;
}

.move-down-relatively {
  position: relative;
  top: 1rem;
}

.remove-padding-start ul {
  padding-inline-start: 0;
}

.glow::before, .glow::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: conic-gradient(from 45deg, rgb(240, 240, 240), rgb(135, 1, 1), rgb(131, 1, 1), rgb(113, 38, 38), rgb(240, 240, 240));
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: animate 5s ease-in;
  animation-fill-mode: forwards;
  border-radius: 3rem;
}

@keyframes animate {
  0% {
    background-position: 0 0;
    opacity: 0.11;
  }
  50% {
    background-position: 100% 0;
    opacity: 0.8;
  }
  100% {
    background-position: 0 0;
    opacity: 0;
  }
}
.glow::after {
  filter: blur(4px);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  overflow: hidden;
}

.bg-video__content {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=styles.css.map */
